.row {
    display: flex;
}

.tile {
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
    display: inline-block;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tile-light {
    background-color: antiquewhite;
}

.tile-dark {
    background-color: darkgrey;
}

.img-fluid {
    width: 100%;
}

.tile-selected {
    background-color: purple;
}

.tile-move-available {
    background-color: aqua;
}