$tile-size: 70px;

.row {
    display: flex;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.tile {
    width: $tile-size;
    height: $tile-size;
    aspect-ratio: 1;
    display: inline-block;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tile-light {
    background-color: antiquewhite;
}

.tile-light.tile-marked {
    background-color: rgb(250, 177, 169);
}

.tile-dark {
    background-color: darkgrey;
}

.tile-dark.tile-marked {
    background-color: rgb(250, 137, 124);
}

.img-fluid {
    width: 100%;
}

.piece {
    cursor: grab;
}

.tile-move-from, .tile-move-to {
    background-color: rgb(209, 250, 146);
}

.tile-selected {
    background-color: purple;
}

.tile-move-available {
    background-color: aqua;
}