<div>
    
    <!-- board.tiles.reverse() doesnt work, first row fucks up -->
    <p>Side: {{ side }}</p>
    <p>Turn: {{ turn }}</p>


    @for (row of (side == 0 ? (gameService.getTiles() | async)!.slice().reverse() : (gameService.getTiles() | async)!.slice()) ; track $index) {
    <div class="row">
        @for (tile of row; track $index) {
        <div class="tile {{ tile.isCoordsSameAs(lastMoveFrom) ? 'tile-move-from' : '' }} {{ tile.isCoordsSameAs(lastMoveTo) ? 'tile-move-to' : '' }}  {{ tile.getLightDarkCSS() }} {{ tile == selectedTile ? 'tile-selected' : '' }} {{ selectedPieceAvailableSquares.includes(tile) ? 'tile-move-available' : '' }}"
            (click)="leftClick($event, tile)"
            (contextmenu)="rightClick($event)"
            (dragover)="$event.preventDefault()"
            (drop)="dropToTile($event, tile)"
            >
            @if (tile.piece) {
                <img class="img-fluid piece" src="{{tile.piece.getAssetPath()}}"
                (dragstart)="dragStart($event, tile)" 
                />
            }
            
        </div>
        }
    </div>
    }

</div>